@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap {
  text-align: center;
  color: transparent;
  animation: animation 1.7s linear infinite;
  background: radial-gradient(circle, #ac2ef8 0%, #ff5993 100%);
  background-size: 200%;
  background-clip: text;
}

.wrap-head {
  text-align: center;
  color: transparent;
  animation: animation 1.7s linear infinite;
  background: radial-gradient(circle, #ffa500 0%, #ff5993 100%);
  background-size: 200%;
  background-clip: text;
}

@keyframes animation {
  to {
    background-position: 200% center;
  }
}

.bg-blue-gradient {
  @apply bg-gradient-to-r from-blue-500 via-blue-500 to-blue-700 bg-clip-text text-transparent;
}

.bg-purple-gradient {
  @apply bg-gradient-to-r from-[#722FFF] via-[#722FFF] to-[#B12EFF] bg-clip-text text-transparent;
}

.bg-pink-gradient {
  @apply bg-gradient-to-r from-[#FFCB01] via-[#FF5993] to-[#FF5993] bg-clip-text text-transparent;
}

.testimonial {
  /* background: linear-gradient(to top left, #ff5993 70%, #b12eff 30%); */
  background-image: linear-gradient(to top left, #ff5993 5%, #b12eff 100%);
}

:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  /* Theme color */
  --theme: var(--primary);
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  border-radius: 0.5rem;
  padding: 10px;
  overflow: hidden;
  background-color: #2e2e2e;
  border: none;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
  box-sizing: border-box;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}
/* @layer components {
  .bg-blue-gradient {
    @apply bg-gradient-to-r from-blue-500 via-blue-500 to-blue-700 bg-clip-text text-transparent;
  }

  .bg-purple-gradient {
    @apply bg-gradient-to-r from-[#722FFF] via-[#722FFF] to-[#B12EFF] bg-clip-text text-transparent;
  }

  .bg-pink-gradient {
    @apply bg-gradient-to-r from-[#FFCB01] via-[#FF5993] to-[#FF5993] bg-clip-text text-transparent;
  }
} */
